.comment-container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding: 5px;
  background-color: rgb(222, 214, 214);
  border-radius: 10px;
  margin-bottom: 5px;
  gap: 5px;
  .button-delete{
    width: 20px;
    height: 20px;
  }
  .button-edit{
    width: 20px;
    height: 20px;
  }
}
