
// DESKTOP
.container-bacheca {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  background-color: #e5e0e0;
  padding: 10px;
}


// TABLET
@media screen and (max-width: 992px) {
  .container-bacheca {
    background-color: red;
  }
}

// MOBILE
@media screen and (max-width: 600px) {
    .container-bacheca {
        background-color: green;
      }
}
