.registration-area {
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 20px;
    top: 48%;
    left: 50%;
    width: 30em;
    height: 28em;
    margin-top: -9em;
    margin-left: -15em;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}

.input-box {
    display: flex;
}