.container-head {
  padding: 6px;

  .sub-container {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;

    .img-container {
      height: 100%;
      width: 60%;
      display: flex;
      flex-direction: row;
      align-items: center;

      .imagen {
        display: flex;
        margin: 8px;
        border-radius: 50px;
        gap: 10px;
        height: 80px;
        width: 80px;
      }
    }
    .title {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 80%;

      .info {
        display: flex;
        flex-direction: row;

        .iconGlobo {
          display: flex;
          flex-direction: row;
          height: 15px;
          width: 15px;
        }
      }
    }
  }

  .chiusura {
    display: flex;
    justify-content: right;
    height: 100%;
    width: 40%;
  }

  .description {
    display: flex;
    align-items: center;
    height: 30%;
    width: 100%;
  }
}
